
h1 {
        color:SpringGreen;
  }
   p{
       color:PeachPuff;
    }
 body {
        margin : 0;
    }

    #NavBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
    /*border: 1px solid blue;*/
    overflow: hidden;
    position: fixed;
    top: 0;
    }


   .NavItem{
   text-align:center;

   display: inline;
   float: left;
   }

.NavItem:last-child {
   border-bottom: none;
}


.NavItem a {
    display: block;
    color:black;
    text-decoration : none ;
    padding : 8px 16px
}


.NavItem a:hover:not(.Active) {
color:Crimson;
background-color:SpringGreen;
     /*changes background and text*/
}

.NavItem a.Active{
     background-color: DarkViolet;
     color: white;
     }

#main {
margin-top: 10px;
padding: 25px
